<!doctype html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <title>Python formulär data</title>
    <meta name="description" content="En webbsida designad av Mikael Olsson.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Registrerade uppgifter:</h1>
    <ul>
        <li><b>Betalsätt: </b>{{data[0]}}</li>
        <li><b>Förnamn: </b>{{data[1]}}</li>
        <li><b>Efternamn: </b>{{data[2]}}</li>
        <li><b>Adress: </b>{{data[3]}}</li>
        <li><b>Ort: </b>{{data[4]}}</li>
        <li><b>Postnummer: </b>{{data[5]}}</li>
        <li><b>Mobil: </b>{{data[6]}}</li>
        <li><b>Email: </b>{{data[7]}}</li>
        <li><b>Lösenord: </b>{{data[8]}}</li>
        <li><b>Erbjudanden via e-post: </b>{{data[9]}}</li>
        <li><b>Emailformat: </b>{{data[10]}}</li>
        <li><b>kommentarer: </b>{{data[11]}}</li>
    </ul>
</body>

</html>